In [47]:
#load the csv file

import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/dilipprasad/LoanRiskAssesment/master/loan-dataset-1.csv")

In [48]:
df.describe()

,principal_loan_amount,interest_rate,customer_monthly_income,customer_age,customer_credit_score,customer_zip_code
count,15163.000000,15163.000000,15163.000000,15163.000000,15163.000000,15163.000000
mean,8072.432236,8.852800,4253.158346,41.070896,3.440018,10005.838027
std,4050.341783,0.814432,1304.176559,11.200741,1.367703,2.098677
min,1000.000000,7.500000,2000.000000,22.000000,0.000000,10001.000000
25%,4560.000000,8.000000,3120.000000,31.000000,3.000000,10004.000000
50%,8110.000000,9.000000,4250.000000,41.000000,4.000000,10006.000000
75%,11590.000000,9.500000,5390.000000,51.000000,5.000000,10008.000000
max,15000.000000,10.000000,6500.000000,60.000000,5.000000,10009.000000

In [49]:
#Understand the shape - rows and columns
df.shape

(15163, 12)

In [50]:
if df.duplicated().any():
    print('There are', df.duplicated().sum(), 'duplicate rows in the DataFrame\n')
else:
    print('There are no duplicate rows in the DataFrame\n')

There are 163 duplicate rows in the DataFrame

We have lot of unique data so we are good with this data

In [51]:
   
if df.isna().any().any():
    print('There are NaN values in the DataFrame')
    print(df.isna().any(axis=0)[df.isna().any()], '\n')
else:
    print('There are no NaN values in the DataFrame\n')

There are NaN values in the DataFrame
is_approved    True
is_default     True
dtype: bool

In [52]:
    
print('principal_loan_amount:', df['principal_loan_amount'].min(), 'to', df['principal_loan_amount'].max())
print('request_date:', df['request_date'].min(), 'to', df['request_date'].max())
print('interest_rate:', df['interest_rate'].min(), 'to', df['interest_rate'].max())
print('loan_channel:', df['loan_channel'].unique())
print('is_approved:', df['is_approved'].unique())
print('is_default:', df['is_default'].unique())
print('customer_monthly_income:', df['customer_monthly_income'].min(), 'to', df['customer_monthly_income'].max())
print('customer_age:', df['customer_age'].min(), 'to', df['customer_age'].max())
print('customer_gender:', df['customer_gender'].unique())

principal_loan_amount: 1000 to 15000
request_date: 2023-01-01 to 2023-06-29
interest_rate: 7.5 to 10.0
loan_channel: ['WEB' 'MOBILE_APP' 'AGENT' 'AFFILIATE' 'DIRECT_SELLING'
 'website_revamped' 'ANDROID_V2' 'ANDROID_V3' 'apple_new_v3']
is_approved: [True nan]
is_default: [nan True]
customer_monthly_income: 2000 to 6500
customer_age: 22 to 60
customer_gender: ['Male' 'Female' 'M' 'F']

Need to standardize customer_gender and loan_channel columns

In [53]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
15158    False
15159    False
15160    False
15161    False
15162    False
Length: 15163, dtype: bool

In [54]:
#Drop duplicates
df = df.drop_duplicates()
 
print('Total rows : ', df.shape[0])
if df.duplicated().any():
    print('There are', df.duplicated().sum(), 'duplicate rows in the DataFrame\n')
else:
    print('There are no duplicate rows in the DataFrame\n')

Total rows :  15000
There are no duplicate rows in the DataFrame

In [61]:
#Change the Blank/NaN values as false for is_Approved and is_Default

df['is_approved']= df['is_approved'].fillna(False)
df['is_default']= df['is_default'].fillna(False)

In [62]:
#Check if there are NaN in the df   
if df.isna().any().any():
    print('There are NaN values in the DataFrame')
    print(df.isna().any(axis=0)[df.isna().any()], '\n')
else:
    print('There are no NaN values in the DataFrame\n')

There are no NaN values in the DataFrame

In [67]:
#Streamline loan_channel - android, apply as mobile app

mapping_loan_chanel = {
    'WEBSITE_REVAMPED': 'WEB',
    'ANDROID_V2': 'MOBILE_APP',
    'ANDROID_V3': 'MOBILE_APP',
    'APPLE_NEW_V3': 'MOBILE_APP'
}

 
# df['loan_channel'].str.upper().replace(mapping_loan_chanel).unique()
df['loan_channel'] = df['loan_channel'].str.upper().replace(mapping_loan_chanel)
df['loan_channel'].unique()

array(['WEB', 'MOBILE_APP', 'AGENT', 'AFFILIATE', 'DIRECT_SELLING'],
      dtype=object)

In [68]:
#Perform similar on Gender
df['customer_gender'].unique()

array(['Male', 'Female', 'M', 'F'], dtype=object)

In [71]:

mapping_gender = {
    'M': 'M',
    'F': 'F',
    'MALE': 'M',
    'FEMALE': 'F'
}
df['customer_gender'].str.upper().replace(mapping_gender).unique()
df['customer_gender'] = df['customer_gender'].str.upper().replace(mapping_gender)
df['customer_gender'].unique()

array(['M', 'F'], dtype=object)

In [72]:
df.to_csv('loan-dataset-1-clean.csv', index=False)